<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--mongo db config-->
    <add key="mongoServers" value="localhost" />
    <add key="mongoUser" value="" />
    <add key="mongoPassword" value="" />
    <add key="mongoPort" value="27017" />
    <add key="mongoDefaultDb" value="monitoring" />
    <add key="mongoOptions" value="" />
    <!--email-->
    <!--https://www.google.com/settings/security/lesssecureapps-->
    <add key="EmailAddress" value="daniel@salaonamao.com.br" />
    <add key="EmailPassword" value="mudar123" />
    <add key="EmailName" value="Salão na Mão" />
    <add key="EmailSmtp" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
  </appSettings>
</configuration>